.header-bar {
    background-color: darkgreen;
    width: 100%;
    text-align: left;
    height: 50px;
    margin-bottom: 17px; 
}

.heading {
    display: inline;
    font-size: 37px;
    margin-top: 10px;
    color: white;
}

#instructions {
    float: right;
    display: inline;
    border: 1px solid white;
    margin-top: 7px;
    background-color: darkgreen;
    color: white;
}

#big_image {
    width: 100%;
}

#start, #status {
    font-size: 17px;
}

body {
    filter: saturate(2.0);
}

.copyright {
    position: fixed;
    bottom: 0;
    background-color: darkslategray;
    color: white;
    box-shadow: 5px 5px 18px black;
    text-align: center;
    margin-bottom:-128px;
    margin-left: 25%;
    width: 50%;
    border-radius: 20px;
}

.image_in_instruction {
display: inline-block;
width: 41%;
}

.modal-dialog {
    width: 87%;
}

video {
    background: url('game_console.png');
    background-size: cover;
    background-position: center;
    padding: 25px;

}